@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background: #171819;
  color: #808081;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.025rem;
}

.gradient {
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
